{% extends "base.html" %}

{% block content %}
<p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result" data-user="tyler-g" data-slug-hash="rZMNQj" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Kendo UI Calendar - Scheduler">
  <span>See the Pen <a href="https://codepen.io/tyler-g/pen/rZMNQj">
  Kendo UI Calendar - Scheduler</a> by Tyler G. Yazzie (<a href="https://codepen.io/tyler-g">@tyler-g</a>)
  on <a href="https://codepen.io">CodePen</a>.</span>
</p>
<script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>
<p>Click <a href="/blog/">here</a> to see my posts.</p>
{% endblock content %}


